body {
    font-family: 'Arial', sans-serif;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 2em 0;
}

#login-form {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    position: relative; /* إضافة هذه الخاصية */
}

#login-form::before {
    content: "";
    position: absolute;
    top: 10px; /* تعديل المسافة من الأعلى */
    left: 10px; /* تعديل المسافة من اليسار */
    width: 100px; /* تحديد عرض مناسب */
    height: 100px; /* تحديد ارتفاع مناسب */
    background: url('../images/file.PNG') no-repeat center center;
    background-size: contain; /* لضبط حجم الصورة */
}

.login-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px; /* تعديل المسافة السفلية */
}

#login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

#login-form label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

#login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #45a049;
}

#search {
    margin: 2em 0;
}

#searchForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
}

#searchForm input {
    width: 20%;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#searchForm button {
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5em;
}

#searchForm button:hover {
    background-color: #45a049;
}

#resultsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

#resultsTable th, #resultsTable td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: center;
}

#resultsTable th {
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.sponsor-text {
    margin-top: 10px;
    color: #666;
    font-size: 14px;
}
